/* background color*/
body {
    background-color: rgb(226, 235, 238);
    font-family: 'Roboto';
}
/* make h1 grey */
h1 {
    color: hsl(0,0%,0%,0.7);
}
/* make all text navy with universal selector */
* {
    color: navy;
}
/* give all p elements light blue highlight with element selector */
p {
    background-color: azure;
}
/* psuedo class selector */
a:hover {
    color: red;
}
a:active {
    background-color:palegoldenrod;
}
/* selector list */
h2, h3 {
    font-family: 'Arial Narrow', Arial, sans-serif;
}
/* descendant combinator */
div p {
    color: orange;
    margin: auto;
}
/* child combinator */
div > span {
    color: green;
}
/* general sibling combinator */
summary ~ p {
    color:purple;
}
/* Adjacent sibling combinator */
img + figcaption {
    color: red;
    margin: 10px 10px 20px 80px;
    padding: 15px 20px 15px 20px;
}
/* combining two selectors */
p.major {
    color: green;
    display: inline;
}
.myDiv {
    border-style: solid;
    border-width: medium;
    border-color: green;
    border-radius: 15px;
    background-color: lightblue;
    text-align: center;
    text-decoration: underline;
    font-size: 2em;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 10px;
    padding-left: 10px;
    min-width: 100px;
    max-width: 200px;
    position: relative;
}

img {
    width:50%;
    height: 100%;
    position: sticky;
}

p.signup {
    display: block;
    max-width: 80px;
}
/* flexbox */
.container {
    background-color: peru;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.container > div {
    background-color: papayawhip;
    margin: 10px;
    flex-grow: 1;
    text-align: center;
}
/* grid */
.gcontainer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    background-color: purple;
    max-width: 200px;
}
.gcontainer > div {
    font-size: 25px;
    text-align: center;
    margin: 10px;
    background-color: pink;
    border: 2px solid magenta;
    justify-self: stretch;
}

@media screen and (min-width:1000px) {
    body {
        background-color: rgb(247, 224, 228); 
    }
}